
header {
    border: 1px solid black;
}
nav {
    height: 3em;
}

nav li {
    float: left;
list-style-type: none;
margin: .5em 1em 0 1em;
text-align: center;

}


.disabled {
    color: grey;
}


.active {
    color: yellow;
}

.red {
    color: red;
}


.blue {
    color: blue;
}